body{
    background-image: url('https://wallpapers.com/images/hd/space-aesthetic-black-cosmos-mtzv89otovidg2rp.jpg');
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#NavBar-container{
    display: flex;
}

#darkModeButton{
    background-color: limegreen;
    cursor: pointer;
    transition: 0.4s;
    border: 5px solid green;
    border-radius: 15px;
    font-family: "Agency FB";
    font-size: x-large;
    font-weight: bold;
}

#Planit{
    text-align: center;
    font-family: "Agency FB";
    color: white;
    margin-left: 540px;
}

#Logo{
    height: 100px;
    width: 100px;
}

#todo-container{
    background: rgb(41, 33, 33);
    width: 1000px;
    margin: 0 auto;
    border: 2px solid limegreen;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

#input-box{
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 30px;
}

#input-button{
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    font-family: "Agency FB";
    font-size: x-large;
    font-weight: bold;
}


.task button{
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}

#header{
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

button:hover {
    background-color: #6ab16a;
    transform: translate(0px, -2px);
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align:left;
}

li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

.delete-btn, .complete-btn{
    float: right;
    color:crimson;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;
}

.completed {
    text-decoration: line-through;
    color: limegreen;
    border: 1px solid gray;
}